[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
babel = "*"
python-dotenv = "*"
alembic = "*"
requests = "*"
pandas = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]

[packages.python-jose]
extras = [ "cryptography",]

[packages.passlib]
extras = [ "bcrypt",]
